<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asoulfan.asfbbs.admin.mapper.PermissionMapper">

    <select id="getByUserId" resultType="com.asoulfan.asfbbs.admin.domain.Permission">
        SELECT * FROM (
			   SELECT p.*
			   FROM  asf_permission p
			   WHERE (exists(
						select a.id from asf_role_permission a
						join asf_role b on a.role_id = b.id
						join asf_user_role c on c.role_id = b.id
						join asf_user d on d.id = c.user_id
						where p.id = a.permission_id AND d.name = #{userId}
					)
					)
			   and p.del_flag = 0) h
    </select>
    <select id="getListByRole" resultType="com.asoulfan.asfbbs.admin.domain.Permission">
          SELECT * FROM (
			   SELECT p.*
			   FROM  asf_permission p
			   WHERE (exists(
						select a.id from asf_role_permission a
						join asf_role b on a.role_id = b.id
						join asf_user_role c on c.role_id = b.id
						join asf_user d on d.id = c.user_id
						where p.id = a.permission_id AND b.name = #{roleName}
					)
					)
			   and p.del_flag = 0) h
    </select>
</mapper>
